.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}

.category-title {
  margin: 10px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}
